- Itsf::Backend::Configuration.backend_engines.each do |engine|
  - if !respond_to?(:engine_policy) || engine_policy(engine).access?
    - if request.original_url  =~ /#{main_app.send("#{engine.engine_name}_path")}/
      = render partial: 'layouts/itsf/backend/main_navigation_drop_down', locals: { engine: engine }
    - else
      %li= link_to t("classes.#{engine.name.underscore}"), main_app.send("#{engine.engine_name}_path")