- Itsf::Backend::Configuration.backend_engines.each do |engine|
  - begin
    %li.dropdown
      = link_to('#', { class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false }) do
        = t(engine.engine_name)
        %span.caret
      %ul.dropdown-menu
        - controllers = engine.to_s.gsub('::Engine', '::Configuration').constantize.base_controller_descendants
        - if controllers.respond_to?(:call)
          - controllers = controllers.call
        - controllers.each do |kontroller|
          %li= link_to kontroller.new.send(:resource_class).model_name.human(count: :other), send(engine.engine_name).url_for(controller: kontroller.name.underscore.gsub('_controller', ''))
  - rescue => e
    - raise unless e.message =~ /^undefined method `segment_keys' for nil:NilClass/
    %li
      = link_to t(engine.engine_name), main_app.send("#{engine.engine_name}_path")