#engine-navigations
  #accordion.panel-group
    - Itsf::Backend::Configuration.backend_engines.each do |engine|
      - if !respond_to?(:engine_policy) || engine_policy(engine).access?
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{engine.name.underscore.dasherize.gsub('/', '-')}"}
                = t("classes.#{engine.name.underscore}")
          .panel-collapse.collapse.in{ id: "collapse-#{engine.name.underscore.dasherize.gsub('/', '-')}" }
            %div.list-group
              = link_to(send(engine.engine_name).root_path, class: 'list-group-item') do
                = t(".home")
              - controllers = engine.to_s.gsub('::Engine', '::Configuration').constantize.registered_controllers.call
              - controllers.each do |kontroller|  
                - resource_klass = kontroller.resource_class
                - if !Itsf::Backend.features?(:pundit) || policy(resource_klass).index?
                  = link_to(send(engine.engine_name).url_for(controller: "/#{kontroller.controller_path}"), class: 'list-group-item') do
                    = resource_klass.model_name.human(count: :other)
                    %span.badge.badge-default= kontroller.resource_count.respond_to?(:call) ? instance_exec(&kontroller.resource_count) : kontroller.resource_count

