%div.panel.panel-default
  %div.panel-heading
    %h1= t('.title', inflections)

  %div.panel-body
    = render partial: 'messages', locals: { messages: @result.messages }

  %div.panel-footer

= render 'create_extras', result: @result

.well.well-sm
  .btn-container-right
    = link_to new_service_path, class: 'btn btn-default btn-responsive' do
      %span.glyphicon.glyphicon-arrow-left
      %span.btn-text= t('.back')