#page-title.bottom-margin-1
  .row
    .col-xs-8
      %h1
        = t('.title', inflections)
    .col-xs-4
      #page-actions.btn-container-right
        .btn-group
          - if !features?(:pundit) || policy(service_class).invoke?
            = link_to invoke_service_path, id: "link-to-#{controller.class.name.underscore.gsub('_controller', '').gsub(/[\/_]/, '-')}-new", class: 'btn btn-success btn-responsive' do
              %span.glyphicon.glyphicon-play-circle
              %span.btn-text= t('.invoke', inflections)

.well.well-sm
  .btn-container-right
    = link_to root_path, class: 'btn btn-default btn-responsive' do
      %span.glyphicon.glyphicon-arrow-left
      %span.btn-text= t('.back')     