%div.panel.panel-default
  %div.panel-heading
    %h1= t('.title', inflections)

  %div.panel-body
    = render partial: 'messages', locals: { messages: @response.messages }

  %div.panel-footer

= render 'success_extras', service_response: @response

.well.well-sm
  .btn-container-right
    = link_to collection_path, class: 'btn btn-default btn-responsive' do
      %span.glyphicon.glyphicon-arrow-left
      %span.btn-text= t('.back')