= table.column(:actions) do |resource|
  - id_base = "link-to-#{controller.class.name.underscore.gsub('_controller', '').gsub(/[\/_]/, '-')}-#{resource.to_param}"
  .btn-group
    = link_to(resource_path(resource), id: "#{id_base}-show", class: 'btn btn-xs btn-responsive btn-default') do
      %span.glyphicon.glyphicon-eye-open"
      %span.btn-text= t('.show')
    = link_to(edit_resource_path(resource), id: "#{id_base}-edit", class: 'btn btn-xs btn-responsive btn-default') do
      %span.glyphicon.glyphicon-pencil
      %span.btn-text= t('.edit')
    = link_to(resource_path(resource), id: "#{id_base}-destroy", class: 'btn btn-xs btn-responsive btn-danger', method: :delete, data: { confirm: I18n.t('.confirmations.delete') }) do
      %span.glyphicon.glyphicon-fire
      %span.btn-text= t('.destroy')