%div.panel.panel-default
  %div.panel-heading
    %h1= t('.title', inflections)

  %div.panel-body
    = simple_form_for(@resource, url: resource_path(@resource)) do |f|
      = render 'form', form: f
      = f.button :submit, class: 'btn btn-success'

  %div.panel-footer
    %div.btn-group
      = link_to t('.show'), resource_path(@resource), class: 'btn btn-primary'
      = link_to t('.back'), collection_path, class: 'btn btn-default'
