/ .panel.panel-default.panel-search
/   .panel-body
/     = search_form_for(@q, url: collection_path) do |f|
/       = render 'search', form: f
/       = f.button t('ransack.search'), class: 'btn btn-success'

.panel.panel-default.panel-with-actions
  .panel-heading.table-style
    .panel-title
      %h3
        = t('.title', inflections)
        %span.label.label-default= @collection.total_count
    .panel-actions
      .btn-group
        = link_to new_resource_path, class: 'btn btn-success' do
          %span.glyphicon.glyphicon-plus
          = t('.new', inflections)

  .panel-body
    = search_form_for(@q, url: collection_path, class: 'form-inline', html: { 'data-auto-submit': true }) do |f|
      = render 'scopes', form: f
      = render 'search', form: f

      = f.button :submit, t('ransack.search'), class: 'btn btn-success'

  .table-responsive
    = table_for(@collection, class: resource_class, presenter: BootstrapTablePresenter) do |table, record|
      = render 'table', table: table, resource_class: resource_class

      = table.actions do
        .btn-group
          = table.action :show, resource_path(record)
          = table.action :edit, edit_resource_path(record)
          = table.action :destroy, resource_path(record), method: :delete

  .panel-footer
    .row
      .col-md-4
      .col-md-4
        .text-center= paginate @collection, theme: 'twitter-bootstrap-3'
      .col-md-4.btn-container-right
        = link_to root_path, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-arrow-left
          = t('.back')