.panel.panel-default.panel-with-actions
  .panel-heading.table-style
    .panel-title
      %h3
        = t('.title', inflections)
        %span.label.label-default= @collection.total_count
    .panel-actions
      .btn-group
        = link_to new_resource_path, id: "link-to-#{controller.class.name.underscore.gsub('_controller', '').gsub(/[\/_]/, '-')}-new", class: 'btn btn-success btn-responsive' do
          %span.glyphicon.glyphicon-plus
          %span.btn-text= t('.new', inflections)

  .panel-body
    - if Itsf::Backend.features?(:ransack)
      .filter
        = search_form_for(@q, url: collection_path, class: 'form-inline', html: { 'data-auto-submit': true }) do |f|
          .scopes.bottom-margin-1
            = render 'scopes', form: f
          .search.bottom-margin-1
            = render 'search', form: f
          .filter-actions
            = f.button :submit, t('ransack.search'), class: 'btn btn-success'

  .table-responsive
    = table_for(@collection, class: resource_class, presenter: BootstrapTablePresenter) do |table, record|
      = render 'table', table: table, resource_class: resource_class
      = render 'table_actions', table: table

  .panel-footer
    .row
      .col-md-4
      .col-md-4
        .text-center= paginate @collection, theme: 'twitter-bootstrap-3'
      .col-md-4.btn-container-right
        = link_to root_path, class: 'btn btn-default btn-responsive' do
          %span.glyphicon.glyphicon-arrow-left
          %span.btn-text= t('.back')