%div.panel.panel-default
  %div.panel-heading
    %h1
      = t('admin.resource.index.title', inflections)
      = link_to t('admin.resource.index.actions.new', inflections), new_resource_path, class: 'btn btn-primary pull-right'

  %div.table-responsive
    = table_for(@collection, class: resource_class, presenter: BootstrapTablePresenter) do |table, record|
      = render 'table', table: table, resource_class: resource_class

      = table.actions do
        = table.action :show, resource_path(record)
        = table.action :edit, edit_resource_path(record)
        = table.action :destroy, resource_path(record), method: :delete

  %div.panel-footer
    = paginate @collection, theme: 'twitter-bootstrap-3'
