#page-title.bottom-margin-1
  .row
    .col-xs-8
      %h1
        = t('.title', inflections)
        %span.label.label-default= Itsf::Backend.features?(:kaminari) ? "#{@collection.total_count}/#{resource_class.count}" : @collection.count
    .col-xs-4
      #page-actions.btn-container-right
        .btn-group
          - if !Itsf::Backend.features?(:pundit) || policy(resource_class).new?
            = link_to new_resource_path, id: "link-to-#{controller.class.name.underscore.gsub('_controller', '').gsub(/[\/_]/, '-')}-new", class: 'btn btn-success btn-responsive' do
              %span.glyphicon.glyphicon-plus
              %span.btn-text= t('.new', inflections)

.panel.panel-default.panel-with-actions
  - if Itsf::Backend.features?(:ransack)
    .panel-body
      #filter
        = search_form_for(@q, url: collection_path, class: 'form-inline', html: { 'data-auto-submit': true }) do |f|
          #scopes.bottom-margin-1
            = render 'scopes', form: f
          #search.bottom-margin-1
            = render 'search', form: f
          #filter-actions.btn-group
            - if f.is_a?(SimpleForm::FormBuilder)
              = f.button :submit, t('ransack.search'), class: 'btn btn-success'
              = link_to t('ransack.reset'), {},class: 'btn btn-danger'
            - else
              = f.submit
              
  .table-responsive
    = render_collection(@collection, resource_class, as: :bootstrap_table) do |table|
      = render 'table', table: table
      = render 'table_actions', table: table

  .panel-footer
    - if Itsf::Backend.features?(:kaminari)
      .row
        .col-md-4
        .col-md-4
          .text-center= paginate @collection, theme: 'twitter-bootstrap-3'
        .col-md-4

.well.well-sm
  .btn-container-right
    = link_to root_path, class: 'btn btn-default btn-responsive' do
      %span.glyphicon.glyphicon-arrow-left
      %span.btn-text= t('.back')      