%p#notice= notice

.panel.panel-default.panel-with-actions
  .panel-heading
    .panel-title
      %h1= @resource.try_all(:human, :name, :to_s)
    .panel-actions
      = link_to(t('.destroy'), resource_path(@resource), method: :delete, class: 'btn btn-danger', 'data-confirm': I18n.t('confirmations.delete'))

  %table.table.table-striped.table-condensed.table-hover
    = render 'show', resource: @resource, resource_class: resource_class

  .panel-footer
    = link_to t('.edit'), edit_resource_path(@resource), class: 'btn btn-primary'
    = link_to collection_path, class: 'btn btn-default pull-right' do
      %span.glyphicon.glyphicon-arrow-left
      = t('.back')