%p#notice= notice

%div.panel.panel-default
  %div.panel-heading
    %h1= @resource.respond_to?(:human) ? @resource.human : @resource

  %div.panel-body
    = render 'show', resource: @resource, resource_class: resource_class

  %div.panel-footer
    = link_to t('.edit'), edit_resource_path(@resource), class: 'btn btn-primary'
    = link_to collection_path, class: 'btn btn-default pull-right' do
      %span.glyphicon.glyphicon-arrow-left
      = t('.back')