%p#notice= notice

%div.panel.panel-default
  %div.panel-heading
    %h1= @resource.to_s

  %div.panel-body
    = render 'show', resource: @resource, resource_class: resource_class

  %div.panel-footer
    %div.btn-group
      = link_to 'Edit', edit_resource_path(@resource), class: 'btn btn-default'
      = link_to 'Back', collection_path, class: 'btn btn-default'