.panel.panel-default.panel-with-actions.itsf-dashboard-panel
  .panel-heading
    .panel-title
      = t("classes.#{engine.name.underscore}")
    .panel-actions
      = link_to(t('.view'), main_app.send("#{engine.engine_name}_path"), class: 'btn btn-primary btn-xs')

  %table.table.table-striped.table-hover.table-condensed
    - "#{engine.to_s.deconstantize}::Configuration".constantize.registered_controllers.call.each do |kontroller|
      - if !Itsf::Backend.features?(:pundit) || policy(kontroller.resource_class).index?
        %tr
          %th.col-md-3= kontroller.resource_class.model_name.human(count: :other)
          %td.item-count
            %span.label.label-default
              - if respond_to?(:user_signed_in?) && user_signed_in? && kontroller.resource_class.respond_to?(:column_names) && kontroller.resource_class.column_names.include?('updated_at')
                = "#{kontroller.resource_class.where("updated_at > ?", current_user.current_sign_in_at).count}/#{kontroller.resource_class.count}"
              - else
                = kontroller.resource_class.count