.panel.panel-default.panel-with-actions.itsf-dashboard-panel
  .panel-heading
    .panel-title
      = t(engine.engine_name)
    .panel-actions
      = link_to(t('.view'), main_app.send("#{engine.engine_name}_path"), class: 'btn btn-primary btn-xs')

  %table.table.table-striped.table-hover.table-condensed
    - "#{engine.to_s.deconstantize}::Configuration".constantize.base_controller_descendants.each do |kontroller|
      %tr
        %th.col-md-3= kontroller.resource_class.model_name.human(count: :other)
        %td.item-count
          %span.label.label-default= kontroller.resource_class.count