.panel.panel-default.panel-with-actions.itsf-dashboard-panel
  .panel-heading
    .panel-title
      = t("classes.#{engine.name.underscore}")
    .panel-actions
      = link_to(t('.view'), main_app.send("#{engine.engine_name}_path"), class: 'btn btn-primary btn-xs')

  %table.table.table-striped.table-hover.table-condensed
    - "#{engine.to_s.deconstantize}::Configuration".constantize.registered_controllers.call.each do |kontroller|
      - if !Itsf::Backend.features?(:pundit) || policy(kontroller.resource_class).index?
        %tr
          %th.col-md-3= kontroller.resource_class.model_name.human(count: :other)
          %td.item-count
            %span.label.label-default= kontroller.resource_class.count